<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
     <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    
    <img src="/files/shoppingCart.jpg" style="max-block-size: 200px;">

    <h1>BIENVENIDO A  ECOMMERCE APP</h1>
    <h3>VISITA NUESTRAS SECCIONES</h3>
    
    <ul>
        <li><a href="/LOGIN"><i>Login</i></a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/profile">Perfil de usuario</a></li>
        <li><a href="/mockingproducts"> Mocking de Productos </a></li>
    </ul>
    

<script src="/js/chat.js"></script>
</body>
</html>


